:root{
    --mainColor: black;
    --secColor: #00ff8b;
    --secColorMild: #00a258;
    --fontColor: white;
    --fontColorMild: #dddddd;
    
}

*{
    margin: 0;

}

body{
    background: black;
    font-family: 'Noto Sans', sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 0px 30px 0px 30px;
    align-items: center;
}

.navlogo{
    display: flex;
    align-items: center;
}
.navlogo img{
    height: 60px;
    width: auto;
    display: flex;
    align-items: center;
    float: left;
}
.navlogo span{
    font-size: 20px;
    padding: 10px;
    color: var(--fontColor);
    opacity: 0;
    transition: .3s;
    transform: translateY(12px);
    cursor: pointer;
}
.navlogo span:hover{
    opacity: 1;
    transform: translateY(0px);
}

.addSong button{
    background: var(--secColor);
    height: 40px;
    width: 110px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    transition: .2s;
    border: none;
}
.addSong button:hover{
    background: var(--secColorMild);
}


.main-section{
    width: 100%;
}

.playlist-pic{
    display: flex;
    justify-content: center;
    padding: 70px 0px 20px 0px;

}
.playlist-pic img{
    width: 300px;
    height: 300px;   
    object-fit: cover;
}



.playlist-name{
    display: flex;
    justify-content: center;
    color: var(--fontColorMild);
    font-size: 40px;
    padding: 0px 0px 50px 0px;
}

.music-section{
    padding: 50px 50px 100px 50px;
}

.music-section-block{
    display: flex;
    justify-content: center;
}

.music-block{
    display: flex;
    height: 70px;
    width: 80%;
    color: var(--fontColor);

    border-radius: 10px;
    align-items: center;
}
.music-block:hover{
    background: rgb(31, 31, 31);
}

.play-music-button button{
    color: white;
    background: none;
    border: none;
    font-size: 17px;
    cursor: pointer;
    height: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
}


.music-pic img{
    width: 50px;
    height: 50px;   
    object-fit: cover;
    padding: 5px;
}

.music-name-artist {
    font-size: 13px;
    padding: 10px;
}

.music-name-artist h5 {
    color: var(--fontColorMild);
}


.space-music-block{
    display: flex;
    justify-content: space-around;
    width: 100%;
    color: var(--fontColorMild);
}

.album-name h5{
    font-size: 13px;
    font-weight: 500;
}

.downlaod-date h5{
    font-size: 13px;
    font-weight: 500;
}

.music-duration h5{
    font-size: 13px;
    font-weight: 500;
}

.music-setting{
    padding: 10px;
}
.music-setting button{
    color: var(--fontColor);
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
}

/* Play screen */

.play-music-block{
    width: 100%;
    height: 90px;
    position: fixed;
    bottom: 0;
    background: rgb(15, 15, 15);
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.playing-music-overview{
    display: flex;
    margin-left: -10%;
}


.playing-music-cover img{
    width: 55px;
    height: 55px;   
    object-fit: cover;
    padding: 5px;
    display: flex;
    align-items: center;
}

.playing-music-name-artist {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.playing-music-name-artist h5{
    font-size: 12px;
    font-weight: 600;
    color: var(--fontColorMild);
}

.playing-music-name-artist h4{
    font-size: 14px;
    color: var(--fontColor);
}


.playing-music-controller-buttons{
    display: flex;
    justify-content: center;
}
.playing-music-controller-buttons button{
    font-size: 20px;
    background: none;
    border: none;
    color: var(--fontColor);
    cursor: pointer;
}
.playing-music-controller-play-button {
    font-size: 35px !important;
}




.playing-music-bar{
    display: flex;
    align-items: center;
}

.playing-music-bar small{
    color: var(--fontColorMild);
}


.playing-music-bar input{
    margin: 5px;
    width: 350px;
    height: 5px;
    border-radius: 5px;
    background-color: var(--fontColorMild);
    -webkit-appearance: none;
    appearance: none;
}

.playing-music-bar input::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: var(--secColor);
    width: 5px;
    height: 20px;
    border-radius: 10px;
}

.playing-music-volume-bigger{
    margin-right: -10%;
    display: flex;
    align-items: center;

}

.playing-music-volume-bigger input{
    margin: 5px;
    height: 5px;
    border-radius: 5px;
    background-color: var(--fontColorMild);
    -webkit-appearance: none;
    appearance: none;
}

.playing-music-volume-bigger input::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: var(--secColor);
    width: 5px;
    height: 20px;
    border-radius: 10px;
}


.playing-music-volume-bigger ion-icon{
    color: var(--fontColorMild);
    font-size: 22px;
    font-weight: bolder;
    margin-top: 6px;
}

.playing-music-volume-bigger button{
    background: none;
    border: none;
    cursor: pointer;
}

